@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
}
#heading{
	text-align: center;
	font-family: 'Tangerine';
	font-size: 100px;
}
body{
	width: 100%;
	height: 100%;
	background-color: red;
	min-height: 100vh;
	background-color: #eee;
}

.wrap {
	min-width: 50%;
	min-height: 50vh;
	/* height: 100%; */
  position: fixed;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap form{
/* 	width: 100%;
	height: 50px; */
	min-height: 20vh;
	min-width: 40vh;
	padding: 80px;
	background: white;
	border-radius: 24px;
	box-shadow: 0 8px 8px  black;

}

form input[type="text"]{
	padding: 10px;
	font-size: 20px;
	font-family: 'Poppins';

}
